<div class="home-container">

  <!------ Start home__header"------->
  <div class="home__header">

    <!------home__header__left"------->
    <div class="home__header__left">
      <img mat-card-avatar src="assets/fb-head.jpg"/>
      <div class="input">
        <mat-icon class="search-icon">search_outline</mat-icon>
        <form>
          <input placeholder="Recherche..." type="text">
        </form>
      </div>

    </div>
    <!------End home__header__left"------->


    <!------Start home__header__middle"------->
    <div class="home__header__middle">
      <div routerLinkActive="active" class="icon-pos">
        <mat-icon (click)="gotohome()">home</mat-icon>
        <a routerLink="/home" routerLinkActive="active" style="font-size: 12px; margin-left: 5px;" >Accueil</a>
      </div>
      <div routerLinkActive="active" class="icon-pos">
        <mat-icon (click)="gotolistUser()">directions_run</mat-icon>
        <a routerLink="/players"routerLinkActive="active" style="font-size: 12px; margin-left: 5px;" >Joueurs</a>
      </div>
      <div routerLinkActive="active" class="icon-pos" >
        <mat-icon (click)="gototeams()">group</mat-icon>
        <a routerLink="/teams"routerLinkActive="active" style="font-size: 12px; margin-left: 5px;" >Equipes</a>
        
      </div>
      <div routerLinkActive="active" class="icon-pos">
        <mat-icon  style="font-size: 28px;"  (click)="gotostars()">stars</mat-icon>
        <a routerLink="/stars"routerLinkActive="active" style="font-size: 12px; margin-left: 5px;" >Internationales</a>
      </div>
      <div routerLinkActive="active" class="icon-pos" >
        <mat-icon (click)="gotomarket()">store</mat-icon>
         <a routerLink="/marketplace"routerLinkActive="active" style="font-size: 12px; margin-left: 5px;" >Marketplace</a>
      </div>

    </div>
    <!------End home__header__middle"------->


    <!------ Start home__header__right"------->
    <div class="home__header__right">
     <div class="contact">
         <div class="add">
             <mat-icon>add</mat-icon>
        </div>

      <div>
        <mat-icon matBadge="4"
                  matBadgeColor="primary"
                  matBadgeOverlap="false"
                  matBadgePosition="above after"> forum
        </mat-icon>
      </div>

      <div>
        <mat-icon matBadge="3"
                  matBadgeColor="warn"
                  matBadgeOverlap="false">notifications
        </mat-icon>
      </div>
     </div>
    


      <div class="expand__more">

        <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item    class="clicable"    *ngIf="_authService.isAdminUser()" (click)="gotoDashboard()"  routerLinkActive="active">Dashboard</button>
            <button mat-menu-item    class="clicable"    *ngIf="_authService.loggedIn()"    routerLinkActive="active"  (click)="_authService.logoutUser()">Logout</button>

        </mat-menu>
       
      </div>

    </div>
    <!------ End home__header__right"------->

  </div>
   <!------End home__header"------->
</div>



   <!------ Start__sidebarLeft------->
 
   <div class="sidebar-left">
      
    <div class="inside">
      <div class="user-avatar">
        <img
          alt=""
          mat-card-avatar
          src="assets/img2.jpg">
          <span class="name">Wahabi malek</span>
        <span class="name"></span>
      </div>
      <div>
        
        <!--
          <span>Equipes</span>
        -->
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon style="margin-top: -6px; margin-right: 13px;">group</mat-icon>
                Equipes
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <button mat-button (click)="gototeams()">
                <mat-icon>assignment</mat-icon>
                <span  style="margin-left: 10px ;font-size: 15px;"  (click)="gototeams()">liste des equipes</span>
              </button>
            </div>
            <div>
              <button mat-button>
                <mat-icon>add_circle</mat-icon>
                <span  style="margin-left: 10px ;font-size: 15px;"  (click)="gotoAddTeam()">Créer une equipe</span>
              </button>
            </div>
           
          </mat-expansion-panel>
         
        </mat-accordion>
        
      </div>

      <div>
        <mat-icon>business_center</mat-icon>
        <span>Entreprises</span>
      </div>

      <div>
        <mat-icon>school</mat-icon>
        <span>Universités</span>
      </div>

      <div>
        <mat-icon>track_changes</mat-icon>
        <span>Compétitions</span>
      </div>

     

     

    </div>
   
  </div>
   <!------ End__sidebarLeft--------->

   <!------ Start__sidebarRight--->
  <div class="sidebar-right">
    <div class="inside">
      
      <div>
       


        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon style="margin-top: -6px; margin-right: 13px;">people</mat-icon>
                Vos equipe
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let team of teamList" >


                  <!------------------->

                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
  
                          <img  style="margin-top: 4px;"  mat-card-avatar src="{{team.logo}}">
                          <p style="margin-left: 15px; margin-top: 12px;">{{team.name}}</p> 
                          <p style="margin-left: 120px; margin-top: 12px;">{{team.pts}}</p> 
                        </mat-panel-title>
                        <mat-panel-description>
                         
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                     
                         
                         <div *ngFor="let player of team.userId">
                           <img  style="margin-top: 4px;"  mat-card-avatar src="{{player.logo}}"> 
                            <p style="margin-top: 12px;">{{player.first_Name}}</p>
                            <p style="margin-top: 12px;  margin-right: 10px;">{{player.last_Name}}</p>
                            <p style="margin-left: 2px; margin-top: 12px;">{{player.pts}}</p>
          
                         </div>
                   
                     
                    </mat-expansion-panel>
                   
                  </mat-accordion>
          




                  <!-------------------------->


            </div>
           
          </mat-expansion-panel>
         
        </mat-accordion>



      </div>

  

      <div>
        <mat-icon>star_border</mat-icon>
        <span>Vos titres</span>
      </div>

      <div>
        <mat-icon>trending_up</mat-icon>
        <span>Vos statistiques</span>
      </div>

      <div>
        <mat-icon>track_changes</mat-icon>
        <span>Vos compétitions</span>
      </div>

      

      
    </div>
  </div>
  <!------ End__sidebarRight------->

   



 
  
<div class="body">
  <router-outlet></router-outlet>
</div>




  