

  <div *ngIf="isLoading" class="spinner">
    <app-spinner></app-spinner>
</div>


<div class="parent">
   <img  src="assets/img.jpg"   class="bg-img float-right" > 

 
       
 <mat-card *ngIf="!isLoading">
            <mat-card-content>
              <div>
                <P> Creer votre compte </P>
              </div>
              <form (ngSubmit)="onRegister()" name="registerForm" [formGroup]="registerForm">

                <div>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input
                      formControlName="name"
                      matInput
                      placeholder="Enter votre nom" required
                      
                    />
                     <mat-error *ngIf="!registerForm.controls.name.valid">
                        Nom est requis
                      </mat-error>
                     </mat-form-field>
                 </div>

                 <div>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input
                      formControlName="lastname"
                      matInput
                      placeholder="Prénom" required
                      
                    />
                     <mat-error *ngIf="!registerForm.controls.lastname.valid">
                         Prénom est requis
                      </mat-error>
                     </mat-form-field>
                 </div>


                <div>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input
                      formControlName="email"
                      matInput
                      placeholder="Entrer l'address e-mail" required
                      
                    />
                    <mat-error *ngIf="!registerForm.controls['email'].valid">
                        E-mail est requis
                      </mat-error>
                  </mat-form-field>
                </div>



                <div>
                  
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                  
                    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>
                          {{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                    </button>
                    <mat-error *ngIf="!registerForm.controls['password'].valid">
                        Mot de passe est requis
                      </mat-error>
                    </mat-form-field>

                  
                </div>

                <div>
                  
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Confirmer mot de passe</mat-label>
                    <input formControlName="passwordConfirm" matInput type="password" required />
                    <mat-error *ngIf="!registerForm.controls['passwordConfirm'].valid">
                        Password is required
                      </mat-error>
                    </mat-form-field>

                  
                </div>

                <div>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <input
                      formControlName="address"
                      matInput
                      placeholder="Adresse" required
                      
                    />
                     <mat-error *ngIf="!registerForm.controls.address.valid">
                         Adresse est requis
                      </mat-error>
                     </mat-form-field>
                 </div>

                 <div>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Numéro de téléphone</mat-label>
                    <input
                      formControlName="phone"
                      matInput
                      placeholder="Entrer votre numéro de téléphone" required
                      
                    />
                     <mat-error *ngIf="!registerForm.controls.phone.valid">
                         Numéro de téléphone est requis
                      </mat-error>
                     </mat-form-field>
                 </div>

               
                 <div>
                  <mat-form-field  class="full-width" appearance="outline">
                   <mat-label>Date de naissance</mat-label>
                   <input  
                     formControlName="date" 
                     matInput   
                     placeholder="Entrer votre date de naissance" required  
                     [matDatepicker]="picker" >
                     <mat-error *ngIf="!registerForm.controls.date.valid">
                      Date de naissance est requis
                    </mat-error>
                   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                   <mat-datepicker  ngDefaultControl   #picker color="primary"></mat-datepicker>
                  </mat-form-field>
                  
                      <p *ngIf="message" style="color: rgb(31, 226, 31); font-size: 8px;">
                        {{ message }}
                      </p>
                      <p *ngIf="error" class="paragraph">
                        {{ error }}
                      </p>
                 </div>


                

                 
                  <div class="signin">
                     <div class="sigin_child">
                           <a   class="font_color">Vous avez déja un compte?</a>
                           <a   class="clicable spacer font_color_blue"  (click)="gotologinUser()">Se connecter</a>
                     </div>
                    
                    <button mat-flat-button color="primary" class="float-right" >Enregistrer</button>
                  
                </div>
                
              </form>

            
            </mat-card-content>
          </mat-card>
       
           
    
          
                  

   
</div>

