
<mat-toolbar color="primary">
<mat-toolbar-row>
   <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
   </button>
 
    
  

</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">

  <mat-sidenav    #sidenav  style="width: 16%;"  mode="side" opened>
     <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<app-footer></app-footer>

