

<diV class="body">
  <div class="headre">
      <div class="add-team-field">
         <mat-icon>add_circle</mat-icon>
          <span style="margin-left: 4%">Creation d'une equipe</span>

      </div>

  </div>
     <div class="container">
   
             <form class="team-name mt-4">
                
                 <span class="mb-2">Nom d'equipe</span>
                 <mat-form-field class="full-width" appearance="outline">
                 <mat-label>Nom d'equipe</mat-label>
                 <input
                     matInput 
                     [formControl]="teamNameFormControl" 
                     placeholder="Enter votre nom" required
                     [(ngModel)]="data.name"
                 />
                    <mat-error *ngIf="teamNameFormControl.hasError('name') && !teamNameFormControl.hasError('required')">
                       Nom d'equipe est requis
                     </mat-error>

                     <mat-error *ngIf="teamNameFormControl.hasError('required')">
                       Nom d'equipe est <strong>required</strong>
                     </mat-error>

                 </mat-form-field>
             
             </form>
            
             <form class="team-name mt-2">
                
                 <span class="mb-2">Nombre des jouers</span>
                 <mat-form-field appearance="outline">
                     <mat-label>Nombre du jouers</mat-label>
                     <mat-select [formControl]="teamNumberFormControl"  [(ngModel)]="data.nb">
                       
                       <mat-option *ngFor="let topping of toppingList" [value]="topping">
                           {{topping}}

                       </mat-option>
                     </mat-select>
                     <mat-error *ngIf="teamNumberFormControl.hasError('required')">
                         nombre de jouers est requis
                      </mat-error>
                   </mat-form-field>
            
             </form>
            

           
                <form class="team-name mt-2"> 
                  
                 <span>Liste des jouers</span>
                  <mat-form-field class="example-chip-list mt-3" appearance="outline">
                     
                     <mat-label>Liste des jouers</mat-label>
                     <mat-chip-list #chipList aria-label="Player selection">
                       <mat-chip
                         *ngFor="let player of defaultplayers"
                         
                         [selectable]="selectable"
                         [removable]="removable"
                         (removed)="remove(player)">
                         {{player}}
                         <button matChipRemove *ngIf="removable">
                           <mat-icon>cancel</mat-icon>
                         </button>
                       </mat-chip>
                       <input
                         placeholder="nouveaux jouers..."
                         #fruitInput
                         
                         [(ngModel)]="data.player"
                         #query
                         (keyup)="search(query.value)"
                         [matAutocomplete]="auto"
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         (matChipInputTokenEnd)="add($event)">
                        
                        
                       </mat-chip-list>

                      

                       <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" (optionSelected)="selected($event)">
                         <mat-option *ngFor="let player of searchplayer" [value]="player">
                           
                             <img   mat-card-avatar src="{{player.logo}}">
                             {{player.first_Name}}
                             {{player.last_Name}}
                             
                           
                         </mat-option>
                       </mat-autocomplete>
                      

                    
                     </mat-form-field>
                </form>
                     
                
                   
                
                  
        

              
               <mat-dialog-actions class="btn mt-5">
                
                    <button  class="btn-cancel" mat-raised-button  mat-dialog-close >Annuler</button>
                    <button mat-flat-button color="primary" class="float-right"  [mat-dialog-close]="data" >Enregistrer</button>
                  
                
              </mat-dialog-actions>

                   
                  
             
              

   
          



     </div>
    

 



</diV>