table{

    // background-color: red;
     border-width: 5px;
     border-color: rgb(138, 131, 131);
     box-shadow: 0px 0px 1px 1px rgb(156, 154, 154);
    }

    .card
    {
      padding: 4%;
    }

    
.parent_search_and_adduers
{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.adduser-Button
{
    background-color: #1877F2;
    color: white;
}


.input{
    display: flex;
    
     flex-direction: row;
     width: 44.5%;
    
    button{
          position: absolute;
      left: 39%;
      height: 38px;
    }
}




.item-Style{
    display: flex;
    font-size: small;
    font-family:inherit;
    font-size: 11.5px;
    color: rgb(39, 37, 37);
    border-width:1px;
    border-style: solid;
    border-color: #4783dd;
    
}

.currentPage-Style{
   
    margin: 5px;
    top: -8px;
 
}

.mat-icon-style{
    font-size: 20px;
    margin-top: 1px;
    
   
}

.icon-position{
    float:right;
   }


.clicable
{
    cursor: pointer;
}

