<div *ngIf="dataLoaded " class="spinner">
  <app-spinner></app-spinner>
</div>

      <div class="home__body__contentMiddle">
  
        <div class="home__body__contentMiddle__top">
          <!--Table to list of players-->
             

              <div>
  

                <div class="card" style="width: 37rem;">
            
                    <div class="card-body">
                        <div class="card-title" class="panel-style">
                           <p class="title-style">Meilleure jouers</p></div>
                       
                         
                            <div class="input">
                              <input  placeholder="Recherche un jouer"  type="text" class="form-control" [(ngModel)]="motCle">
                              <button mat-button (click)="chercher()">
                                <mat-icon  >search_outline</mat-icon>
                                
                              </button>
                           </div>
                         
                           
                        <table class="table mt-4">
                            <thead>
                              <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Region</th>
                                <th scope="col">Points</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              
                                  <tr class="clicable"   *ngFor="let user of pageContacts; let i=index">
                                      <th scope="row">
                                        <img   mat-card-avatar src="{{user.logo}}"></th>
                                      <td scope="row">{{user.first_Name}}</td>
                                      <td scope="row">{{user.address}}</td>
                                      <td  style="color: #1877F2;"  scope="row">{{user.pts}}</td>
                                    
                                  </tr>
                              
                              
                              
                            </tbody>
                          </table>
            
                           
                               <nav aria-label="Page navigation example">
                                  <ul class="pagination justify-content-center">
                                      <li>
                                        <a class="page-link clicable" (click)="goToPreviousPage()" ><mat-icon class="chevron">chevron_left</mat-icon></a>
                                      </li>
                                      <li  [ngClass]="{'active':i==currentPage}"   class="page-item"    *ngFor="let p of pages; let i=index">
                                        <a     class="page-link clicable style" (click)="gotoPage(i)">
                                             <span class="index">{{i+1}}</span> </a>
                                           
                                      </li>
                                    
                                      <li>
                                        <a class="page-link clicable"   (click)="goToNextPage()"><mat-icon class="chevron">chevron_right</mat-icon></a>
                                      </li>
                                     </ul>
                                    
                                
                                 </nav>
                               
                              
                </div>
            </div>
            
            </div>
            
        </div>
           <!---End Table  to liste of players-->
        
  
        <div class="home__body__contentMiddle__center">

          
          <mat-card   style="width: 37rem;">
            <div class="input">
              <input  placeholder="Recherche un jouer"  type="text" class="form-control" [(ngModel)]="motClerandomPages">
              <button mat-button (click)="RandomSearsh()">
                <mat-icon  >search_outline</mat-icon>
                
              </button>
           </div>
           <div class="container">
              <div  class="col-lg-12 mb-4">
                 <div class="row">
                    <div   class="col-md-3 col-xs-12 card-players" *ngFor="let user of randompageContacts; let i=index"  > 
                        <img
                        alt=""
                         mat-card-avatar
                         style="width: 80px; height: 80px; margin-left: 15px; margin-top: 12px;"
                         src="{{user.logo}}">
                      <div style="display: flex;flex-direction: column;">
                         <span class="name-player">{{user.first_Name}}</span>
                         <span class="nb-pts">{{user.pts}}pts</span>
                         <div class="card-contacts" >
                          <mat-icon class="contact-icon">phone_in_talk</mat-icon>
                          <mat-icon class="contact-icon">sms</mat-icon>
                          <mat-icon class="contact-icon">send</mat-icon>
                         </div>
                       </div>
                    
                    </div>
                   
              
                  </div>

                 </div>

              </div>

               <!------------------Start  navigation page -------------------->
               <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li>
                      <a class="page-linkrandom clicable" (click)="goToPreviousRandomPage()" >Précédente</a>
                    </li>
                    <li  [ngClass]="{'active':i==currentRandomPage}"      class="page-item" *ngFor="let p of randomPages; let i=index">
                      <a    class="page-linkrandom clicable" (click)="gotoRandomPage(i)">{{i+1}}</a>
                      
                    </li>
                  
                    <li>
                      <a class="page-linkrandom clicable"   (click)="goToNextRandomPage()">Suivante</a>
                    </li>
                   </ul>
               
               </nav>
              

          </mat-card>
  
          <!--Loop Through All Posts From Database and Display-->
         
  
  
        </div>

        <div style="height: 600px; width: 600px;"></div>
  
      </div>
  
   