

<div *ngIf="isLoading" class="spinner">
    <app-spinner></app-spinner>
</div>

<div class="parent">
   <img  src="assets/img.jpg"   class="bg-img float-right" > 

         
       
          <mat-card *ngIf="!isLoading">
            <mat-card-content>
              <div>
                <P>changez votre mot de passe </P>
              </div>
              <form (ngSubmit)="onResetPassword()" name="ResetPasswordForm" [formGroup]="ResetPasswordForm">
               

                <div>
                  
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                  
                    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>
                          {{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                    </button>
                    <mat-error *ngIf="!ResetPasswordForm.controls['password'].valid">
                         Mot de passe est requis
                      </mat-error>  
                    </mat-form-field>
                 
                  
                </div>



                <div>
                  
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Confirmer mot de passe</mat-label>
                      <input formControlName="passwordConfirm" matInput type="password" required />
                      <mat-error *ngIf="!ResetPasswordForm.controls['passwordConfirm'].valid">
                          Password is required
                        </mat-error>
                      </mat-form-field>
  
                      <p *ngIf="message" style="color: rgba(23, 172, 23, 0.781); font-size: 8px;">
                        {{ message }}
                      </p>
                      <p *ngIf="error" class="paragraph">
                        {{ error }}
                      </p>
                  </div>
                 
                  <div class="signin">
                     
                    
                    <button mat-flat-button color="primary" class="float-right" >Réinitialiser le mot de passe</button>
                  
                </div>
                
              </form>

            
            </mat-card-content>
          </mat-card>
       
          
       
          
                  

   
</div>

