
  
      <div class="home__body__contentMiddle">
  

        <!-----------------------Strathome__body__contentMiddle__top" ----------------------------------->
        <div class="home__body__contentMiddle__top">
          <!--IMAGE CARDS-->
          <mat-card  class="image-card">
            <img alt="bg"
                 class="bg" src="assets/carousel.PNG">
            <mat-card-content>

            </mat-card-content>
          </mat-card>
  
        </div>
         <!-----------------------End ome__body__contentMiddle__top" ----------------------------------->
      

          <!-----------------------Start home__body__contentMiddle__center" ----------------------------------->
         <div class="home__body__contentMiddle__center">
          <mat-card class="post-message">
            <mat-card-header class="post-message-header"
                             style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
              <img
                alt=""
                mat-card-avatar
                [src]="">
              <form #form="ngForm" (ngSubmit)="postMessage(form)">
                <input class="on-your-mind" name="message" ngModel placeholder="What's on your mind?" type="text">
                <button style="display: none;" type="submit"></button>
              </form>
  
            </mat-card-header>
            <mat-card-content class="card-body">
              <div>
                <mat-icon color="accent">videocam</mat-icon>
                <span>Live Video</span>
              </div>
  
              <div>
                <mat-icon color="primary">photo_album</mat-icon>
                <span>Photo/Video</span>
              </div>
  
              <div>
                <mat-icon color="warn">mood</mat-icon>
                <span>Feeling/Activity</span>
              </div>
            </mat-card-content>
          </mat-card>
  
          <!--Loop Through All Posts From Database and Display-->
          <mat-card *ngFor="let p of posts" class="posts">
            <mat-card-header class="posts__header">
              <img alt="{{ p?.title }}" mat-card-avatar [src]="p?.avatar">
              <div class="posts__header__right">
                <span>{{ p?.time?.seconds * 1000 | date:'shortTime' }}</span>
                <h3>{{ p?.title }}</h3>
              </div>
            </mat-card-header>
            <mat-card-content class="posts__body">
              <p>{{ p?.message }}</p>
            </mat-card-content>
          </mat-card>
  
  
        </div>
        <!-----------------------End home__body__contentMiddle__center" ----------------------------------->
        <div style="height: 600px; width: 600px;">
          
         </div>
  
      </div>
  
     