/* You can add global styles to this file, and also import other style files */
/* pour utilise les icons bootstrap */
@import "~font-awesome/css/font-awesome.min.css";




* {/* pour elimine la valeur ajouter de border et valide le properite float:left: ;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
  }
  

  html {
    font-size: 62.5%;
  }
  
  