
  <div *ngIf="isLoading" class="spinner">
      <app-spinner></app-spinner>
  </div>

<div class="parent">
     <img  src="assets/img.jpg"   class="bg-img float-right" > 

           
         
            <mat-card *ngIf="!isLoading">
              <mat-card-content>
                <div>
                  <P> Connectez-vous à votre compte </P>
                </div>
                <form (ngSubmit)="onLogin()"  #form="ngForm"     name="loginForm" [formGroup]="loginForm">
                  <div class="emailInput">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>E-mail d'utilisateur</mat-label>
                      <input
                        formControlName="email"
                        matInput
                        placeholder="Entrer l'adresse e-mail" required
                        
                      />
                      <mat-error *ngIf="!loginForm.controls['email'].valid">
                         E-mail est requis
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div>
                    
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Mot de passe</mat-label>
                      <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                      <mat-icon matSuffix  style="cursor: pointer;"  (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf="!loginForm.controls['password'].valid">
                           Mot de passe est requis
                        </mat-error>  
                      </mat-form-field>
                      <p *ngIf="error" class="paragraph">
                          {{ error }}
                      </p>
                    
                   </div>
                   
                    <div class="signin">
                       <div class="sigin_child">
                             <a   class="clicable font_color"  (click)="addNewUser()">Enregistrer</a>
                             <a   class="clicable spacer font_color"  (click)="emailConfirm()">Mot de passe oublié?</a>
                       </div>
                      
                      <button mat-flat-button color="primary"   [disabled]="form.invalid || form.pending"    class="float-right" >Se connecter</button>
                    
                  </div>
                  
                </form>

              
              </mat-card-content>
            </mat-card>
         
              <div class="signin-with" *ngIf="!isLoading">
                               
                         <div class="sigin_avec">
                           <a>Connectez-vous avec</a>
                         </div>    
                            <div class="sigin_ftg">
                                  <a class="clicable">facebook</a>
                                  <a class="clicable spacer">twitter</a>
                                  <a class="clicable spacer">google</a>
                            </div>
                </div>
         
            
                    

     
</div>

